@keyframes slideIn{
  0%{
    transform: translateY(100px);
    opacity:0;
  }
  100%{
    transform: translateY(0);
    opacity:1;
  }
}
@keyframes jumpIn{
  0%{
    transform: scale(0);
    opacity: 0;
  }
  100%{
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes topIn{
  0%{
    transform: translateY(-200px);
    opacity: 0;
  }
  100%{
    transform: translateY(0);
    opacity: 1;
  }
}
@mixin animate($animationName: slideIn){
  @if $animationName == 'slideIn' {
    transform: translateY(100px);
    animation-delay: 700ms;
    opacity:0;
  }
  animation-name: $animationName;
  animation-duration: 300ms;
  animation-fill-mode: forwards;
}